body{
  background-color: black;
  color: white;
}

.App{
  padding-left: 20vw;
  padding-right: 20vw;
  display: grid;
  grid-template-rows: 100px 150px 300px 350px 50px;
}

.App-navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 28px;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 1em;
}

.App-footer{
  padding-left: 40%;
  padding-right: 40%;
  justify-self: center;
}